<!--
  Generated template for the LanguagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Language</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list radio-group [(ngModel)]="language" (ionChange)="languageChange()">
	  <ion-item>
	    <ion-label>English</ion-label>
	    <ion-radio value="en"></ion-radio>
	  </ion-item>

	  <ion-item>
	    <ion-label>Português</ion-label>
	    <ion-radio value="pt"></ion-radio>
	  </ion-item>
	</ion-list>


</ion-content>
