page-cancelaccount {
	.radio-ios .radio-checked .radio-inner {
	    border-color: #e77103;
	}
	.list-ios > .item-block:first-child {
	    border-top: none!important;
	}
	.item-ios {
    	padding-left: 10px!important;
	}
	.item-radio-checked.item-ios ion-label {
	    color: #000;
	}
}
