<!--
  Generated template for the CancelaccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="display: inline-flex">

  <ion-navbar>
    <ion-title>{{ 'cancelAccount' | translate }}</ion-title>
		<button
			style="color:#e77103;background-color: white;font-size: 19px;padding-left: 69%;"
			(click)="goToFeedback()">{{ 'feedback' | translate }}</button>
  </ion-navbar>
</ion-header>


<ion-content style="background-color: #f7efe7">
	<p style="text-align: center;">{{ 'whyDoYouWantToCancelAccount' | translate }}</p>
	<ion-list radio-group [(ngModel)]="reason" (ionChange)="changeReason()">
	  <ion-item>
	    <ion-label>{{ 'willNotGoBackUsingApp' | translate }}</ion-label>
	    <ion-radio value="Não vou voltar a usar a APP"></ion-radio>
	  </ion-item>

	  <ion-item>
	    <ion-label>{{ 'haveAnotherAccount' | translate }}</ion-label>
	    <ion-radio value="Tenho outra conta"></ion-radio>
	  </ion-item>

	   <ion-item>
	    <ion-label>{{ 'tooManyNotifications' | translate }}</ion-label>
	    <ion-radio value="Recebo demasiadas notificações"></ion-radio>
	  </ion-item>

	   <ion-item>
	    <ion-label>{{ 'appDoesNotWorkWell' | translate }}</ion-label>
	    <ion-radio value="A app não funciona bem"></ion-radio>
	  </ion-item>

	   <ion-item>
	    <ion-label>{{ 'anotherMotive' | translate }}</ion-label>
	    <ion-radio value="Outro motivo"></ion-radio>
	  </ion-item>
	</ion-list>

</ion-content>
