<ion-header style="display: inline-flex">
  <ion-navbar>
    <ion-title>Update user</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="profile" (ngSubmit)="updateProfile()">
      <ion-item class="custom-input">
        <ion-label class="title">NOME</ion-label>
        <ion-input type="text" formControlName="name" required item-content></ion-input>
        <ion-label class="error" *ngIf="profile.controls.name.dirty && profile.controls.name.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">EMAIL</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
        <ion-label class="error" *ngIf="profile.controls.email.dirty && profile.controls.email.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">ROLE</ion-label>
        <ion-select formControlName="role">
          <ion-option value="user">USER</ion-option>
          <ion-option value="admin">ADMIN</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <button ion-button full type="submit" class="custom-button" [disabled]="!profile.valid">Submit</button>
      </ion-item>
    </form>
</ion-content>
