<ion-header>

  <ion-navbar>
    <ion-title>Add new Location</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="locations" (ngSubmit)="addNewLocation()">
      <ion-item class="custom-input">
        <ion-label class="title">Title</ion-label>
        <ion-input type="text" formControlName="title" required item-content></ion-input>
        <ion-label class="error" *ngIf="locations.controls.title.dirty && locations.controls.title.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">Description</ion-label>
        <ion-input type="text" formControlName="description" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.description.dirty && locations.controls.description.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">Type</ion-label>
        <ion-input type="text" formControlName="type" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.type.dirty && locations.controls.type.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">Icon url</ion-label>
        <ion-input type="text" formControlName="icon" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.icon.dirty && locations.controls.icon.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">Image 1 url</ion-label>
        <ion-input type="text" formControlName="image1" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.image1.dirty && locations.controls.image1.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">Image 2 url</ion-label>
        <ion-input type="text" formControlName="image2" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.image2.dirty && locations.controls.image2.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">Image 3 url</ion-label>
        <ion-input type="text" formControlName="image3" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.image3.dirty && locations.controls.image3.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">Latitude</ion-label>
        <ion-input type="number" formControlName="latitude" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.latitude.dirty && locations.controls.latitude.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">Longitude</ion-label>
        <ion-input type="number" formControlName="longitude" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.longitude.dirty && locations.controls.longitude.invalid">X</ion-label>
      </ion-item>
      
      <ion-item class="custom-input">
        <ion-label class="title">Short Address</ion-label>
        <ion-input type="text" formControlName="shortAddress" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.shortAddress.dirty && locations.controls.shortAddress.invalid">X</ion-label>
      </ion-item>

      <ion-item class="custom-input">
        <ion-label class="title">Long Address</ion-label>
        <ion-input type="text" formControlName="address" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.address.dirty && locations.controls.address.invalid">X</ion-label>
      </ion-item>
      
      <ion-item class="custom-input">
        <ion-label class="title">Email</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.email.dirty && locations.controls.email.invalid">X</ion-label>
      </ion-item>

      <ion-item class="custom-input">
        <ion-label class="title">Website</ion-label>
        <ion-input type="text" formControlName="website" required></ion-input>
        <ion-label class="error" *ngIf="locations.controls.website.dirty && locations.controls.website.invalid">X</ion-label>
      </ion-item>

      <ion-item>
        <button ion-button full type="submit" class="custom-button">ADD LOCATION</button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
