page-changepassword {
	
	.item-label-stacked .text-input-ios, .item-label-floating .text-input-ios {
	    margin-left: 0;
	    margin-top: 8px;
	    margin-bottom: 8px;
	    width: calc(100% - 8px);
	    border: 1px solid rgba(0, 0, 0, 0.16)!important;
	    border-radius: 25px;
	}
	ion-label[stacked], ion-label[floating] {
    padding-left: 7%;   
	}
	.text-input-ios{
		width: 80%;
	}
	.ion-icon{
		float: right;
	    position: relative;
	    top: 15px;
	    right: 15px;
	}
	input:focus, select:focus, textarea:focus {
        outline: 0;
        border-color: #ffffff;
        background-color: #ffffff;
        box-shadow: 0 0 2px #ffffff;
    }
	ion-input{
		/*border:1px solid rgba(0,0,0,0.16);*/
		   /* border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;*/
	
	}
	.icon_button{
		float: right;
	    padding: 13px 15px;
	    //border-top-right-radius: 30px;
	    //border-bottom-right-radius: 30px;
	    background: transparent;
	    //border-right: 1px solid #e8e8e8;
	    border-bottom: 1px solid #e8e8e8;
	    //border-top: 1px solid #e8e8e8;
	}
	input:focus, select:focus, textarea:focus {
        outline: 0;
        border-color: #ffffff;
        background-color: #ffffff;
        box-shadow: 0 0 2px #ffffff;
    }
	ion-input{
		/*border:1px solid rgba(0,0,0,0.16);*/
		   /* border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;*/
	
	}

	.input_text{
		width: 89.2%;
	    /*border-top-left-radius: 30px;
	    border-bottom-left-radius: 30px;*/
	    height: 44px;
	    padding-left:6%;
	}
	.label-ios[stacked] {
	    font-weight: bold;
	}

}