<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="display: inline-flex">

  <ion-navbar>
    <ion-title>{{ 'changePassword' | translate }}</ion-title>
  </ion-navbar>
  <button
	  style="color:#e77103;background-color: white;font-size: 19px"
	  [disabled]="disabled">{{ 'save' | translate }}</button>

</ion-header>


<ion-content style="background-color: #f7efe7">
	<div style="background-color: white;position: fixed;width:100%">
		<div style="padding:10px!important;padding-bottom: 0px!important">
		<ion-label stacked>{{ 'oldPassword' | translate }}</ion-label>
		<button class="icon_button" (click)='hideShowPassword("old")'>
			<ion-icon item-end [name]="oldpasswordIcon" class="passwordIcon" 
			></ion-icon>
		</button>
		<ion-input class="input_text" [type]="oldpasswordType"  [(ngModel)]="oldPassword"></ion-input><hr style="height: 1.55px;">
		<ion-label stacked>{{ 'newPassword' | translate }}</ion-label>
		<button class="icon_button" (click)='hideShowPassword("new")'>
			<ion-icon item-end [name]="newpasswordIcon" class="passwordIcon" 
			></ion-icon>
		</button>
		<ion-input class="input_text" [type]="newpasswordType"  [(ngModel)]="newPassword"></ion-input>
		<hr style="height: 2.55px;">
		<ion-label stacked>{{ 'confirmPassword' | translate }}</ion-label>
		<button class="icon_button" (click)='hideShowPassword("confirm")'>
			<ion-icon item-end [name]="confirmpasswordIcon" class="passwordIcon" 
			></ion-icon>
		</button>
		<ion-input class="input_text" [type]="confirmpasswordType"  [(ngModel)]="confirmPassword" (ngModelChange)="confirmcomplete()"></ion-input>
		<hr style="height: 1.55px;">
		<p *ngIf="passwordMismatch" style="color: red">{{ 'newPasswordAndConfirmPassMismatch' | translate }}</p>
		</div>
		<p style="color:grey;background-color: #f7efe7;margin: 0px!important;padding-left: 8px;padding-top: 2px;">{{ 'sixToTwelveWithLettersAndNumbers' | translate }}</p>

	</div>
</ion-content>
