
<ion-content style="background: #f7efe7;">
    <div class="pageImg">
      <img src="assets/imgs/onboarding_3.svg"/>
      <h3>{{ 'authorizeLocalization' | translate }}</h3>
      <p>{{ 'allowAccessToLocation' | translate }}</p>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
            <button ion-button full (click)="moveToMapPage()">
              {{ 'notNow' | translate }}
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full (click)="autorizeLoaclization()">
              {{ 'authorize' | translate }}
            </button>
          </ion-col>
      </ion-row>
    </ion-grid>
    
  
  </ion-content>
