<div class="infowindow" id="{{position.get('_id')}}" *ngIf="position.get('title')">
    <img src="{{icon}}" class="infowindowIcon" />
    <div class="infowindowContent" (click)="gotoDetailsPage()">
        <p class="infowindowTitle">{{position.get('title')}}</p>
        <div class="infowindowRow">
            <div class="infowindowAddress">{{position.get('shortAddress') || ''}} {{ position.get('shortAddress') &&
                '|' }} {{ getDistance(position.get('location').coordinates, position) }} </div>
        </div>
    </div>
    <div class="infowindowicons">
        <span class="infowindowTitle" id="close" (click)="onButton_click($event)">X</span>
        <div class="infowindowRow">
            <span>></span>
        </div>
    </div>
</div>