<!--
  Created By: Mohd Sanaullah Ghayasi.
  Dated On: 25-10-2018
-->
<ion-content style="background: #f7efe7;">
    <div class="pageImg">
      <img src="assets/imgs/onboarding_2.svg"/>
      <h3>{{ 'turnOnNotifications' | translate }}</h3>
      <p>{{ 'enableNotifications' | translate }}</p>
    </div>  
  </ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button full (click)="turnOnMove()">
          {{ 'notNow' | translate }}
        </button>
      </ion-col>
      <ion-col col-6>
          <button ion-button full (click)="enableNotification()">
            {{ 'turnOn' | translate }}
          </button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
