page-enable-notification {
    .pageImg{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
    }
    .pageImg img{
        padding: 20px;
    }
    .pageImg p{
        text-align: center;
        font-size: 15px;
        line-height: 1.5;
        margin: 0px 40px;
    }
    .pageImg h3{
        text-align: center;
        font-size: 22px;
        color: #ee8033;
    }
    .grid {
        position: absolute;
        bottom: 0px !important;
        padding: 0px !important;
    }

    [col-6] {
        padding: 0px !important;
    }
    button {
        height: 4.6rem;
        text-transform: uppercase;
        color: #fff;
        background-color: #ee8033 !important;
        -webkit-box-shadow: 0 2px 2px 0 white, 0 3px 1px -2px white, 0 1px 5px 0 white;
        box-shadow: 0 2px 2px 0 white, 0 3px 1px -2px white, 0 1px 5px 0 white;
        margin: 0rem 0rem !important; 
        padding: 0 0em !important; 
    }
}
