.searchContainer {
    display: flex;
    height: 44px;

    ion-item {
        padding: 0px !important;
    }

    ion-select {
        padding: 0px 10px !important;
        max-width: 100% !important;
    }
}