<ion-header>
  <ion-navbar (click)="backClicked()">
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="searchContainer" style="position: relative">
    <ion-searchbar debounce="500" showCancelButton [(ngModel)]="searchText" (ionChange)="search()"></ion-searchbar>
    <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="exact" (ionChange)="search()">
            <ion-option value="all">all</ion-option>
            <ion-option value="title">company name</ion-option>
            <ion-option value="locationType">category</ion-option>
            <ion-option value="address">address</ion-option>
            <ion-option value="email">email</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    <div>
      <ion-fab right bottom edge style="bottom: -43px">
        <button *ngIf="showAsList" (click)="switchToMap()" ion-fab mini style="background: #fff; border: solid 1px #00000012;">
          <ion-icon name="map" style="color: #ed8033"></ion-icon>
        </button>
        <button *ngIf="showAsMap" (click)="switchToList()" ion-fab mini style="background: #fff; border: solid 1px #00000012;">
          <ion-icon name="list" style="color: #ed8033"></ion-icon>
        </button>
      </ion-fab>
    </div>
  </div>

  <div *ngIf="showAsMap" style="width:100%;height: 100vh" #map id="map"></div>

  <ion-item *ngIf="showAsList && locations.length > 0">
    <ion-list *ngFor="let key of keys" inset>
      <ion-list-header>
        {{key}}
      </ion-list-header>
      <!-- <ion-list-header>
          <ion-label>{{key}}</ion-label>
      </ion-list-header> -->
      <ion-item *ngFor="let location of companies[key]" (click)="goToLocationDetailPage(location)">
        <ion-icon *ngIf="!location.images[0]" item-start name="image" style="color: #ed8033"></ion-icon>
        <ion-avatar item-start *ngIf="location.images[0]">
          <img src={{location.images[0]}} />
        </ion-avatar>
        <h2>
          {{location.title || ''}}
          <ion-icon *ngIf="location.hasOffers || false" style="color: red" name="medical"></ion-icon>
        </h2>
        <h3>{{location.type || ''}}</h3>
        <p>
          <span *ngIf="location.shortAddress">{{location.shortAddress || ''}} | </span>
          <span *ngIf="location.location && location.location.coordinates && location.location.coordinates.length > 0">
            {{getDistance(location.location.coordinates, location)}} km
          </span>
        </p>
        <ion-icon item-end name="arrow-forward"></ion-icon>


      </ion-item>
    </ion-list>
  </ion-item>
</ion-content>