<!--
  Created By: Mohd Sanaullah Ghayasi.
  Dated On: 25-10-2018
-->
<ion-header>

  <ion-navbar>
    <ion-title>Termos e Condições</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item class="pageHeading">
    <h2>Termos e Condições</h2>
    <p>Última atualização a 6 de Março de 2018</p>
  </ion-item>
  <ion-item class="pageContent">
    <p>As presentes condições de utilização
      regulam a utilização da app “5 Estrelas”
      que é disponibilizada pela U-scoot, Lda.</p>

    <p>A App “5 Estrelas” é uma ferramenta útil
      para os consumidores poderem aceder a
      informação relevante sobre os vencedores
      do Prémio Cinco Estrelas Portugal.</p>

    <p>Os seus conteúdos incluem informação útil
      para os consumidores, nacionais ou
      estrangeiros, poderem tomar decisões de
      consumo de forma acertada, pois terão a
      garantia de que os produtos, serviços e
      marcas que aqui se encontram foram
      testados por outros consumidores, através
      de uma metodologia bastante completa e
      rigorosa, e foram considerados muito
      bons. São por isso consideradas Decisões
      Cinco Estrelas.
    </p>

    <p>O utilizador recebe ainda notificações
      sobre novas entradas ou ainda sobre
      promoções em vigor, de que pode
      beneficiar.
    </p>

    <h2>I. CONCESSÃO DE DIREITOS</h2>
    <ol>
      <li>A U-Scoot, Lda concede ao utilizador o
        direito não exclusivo para usar a App. O
        utilizador pode transferir e usar a App
        exclusivamente para os aparelhos que
        estão associados ao ID do aparelho
        utilizado no download da APP.</li>

      <li>
        Os conteúdos incluídos na App apenas
        podem ser usados pelo utilizador para
        fins pessoais e não comerciais.
      </li>

      <li>
        A utilização, reprodução ou
        transmissão não autorizada dos
        conteúdos da App, fora do contexto
        antes referido, não é autorizada e pode
        acarretar consequências legais.
      </li>
    </ol>

    <h2>II. EXCLUSÃO DA RESPONSABILIDADE</h2>
    <ol>
      <li>
        Na medida em que a U-scoot, Lda
        detentora dos direitos desta App,
        recolhe, recebe e reúne informação por
        outras entidades disponibilizada e
        atualizada, a U-scoot, Lda não se
        RESPONSABILIZA E DECLINA
        QUALQUER IMPUTAÇÃO DE CUSTOS
        OU PREJUIZOS, seja em que modo ou
        circunstância, eles aconteçam,
        incluindo prejuízos de qualquer índole
        que ocorram em resultado de falta de
        exatidão ou omissão ou ainda
        incorreção das informações prestadas,
        no âmbito do funcionamento desta
        app.
      </li>

      <li>
        Os conteúdos configurados pela
        própria U-scoot, Lda na App são
        criados/identificados e produzidos com
        o máximo rigor e cuidado. Apesar
        disso, e atendendo à realidade de
        exposição pública (vandalismo,
        intempéries etc...) e de utilização (má
        ou negligente), de falta de manutenção
        etc... da alteração de localizações, o
        não funcionamento (total ou parcial) e/
        ou inexistência dos elementos
        geolocalizados, (e/ou indicados na App)
        fica desde já declarado e aceite que a
        U-scoot, Lda não garante a exatidão, a
        integridade e a atualidade das
        informações/conteúdos
        disponibilizados nesta App.
      </li>
    </ol>

    <h2>III. TRATAMENTO DE DADOS PESSOAIS</h2>

    <ol>
      <li>
        Os dados recolhidos aquando do login
        para instalação da App no telemóvel do
        utilizador têm como finalidade o
        acesso a informações sobre os
        vencedores do Prémio Cinco Estrelas
        Portugal numa área geográfica definida
        pelo próprio utilizador, através de georeferenciação.
        Os dados recolhidos
        serão utilizados apenas para este fim,
        bem como para envio de informações
        úteis sobres os vencedores do Prémio
        Cinco Estrelas Portugal, como
        promoções, ofertas ou passatempos,
        através da própria App (notificações),
        por email ou sms.
      </li>

      <li>
        Os dados recolhidos estarão alojados
        em servidor informático contratado
        para o efeito na empresa XPTO – É a
        Amen, certo?
      </li>

      <li>
        Para garantir a segurança dos seus
        dados e a máxima confidencialidade, a
        informação é tratada de forma
        absolutamente confidencial e os seus
        dados não serão partilhados com
        terceiros para quaisquer fins. A equipa
        de programação, design e gestão da
        App, externa à U-Scoot Lda, está
        igualmente sujeita a um acordo de
        confidencialidade relativamente aos
        dados dos utilizadores a que tem
        naturalmente acesso.
      </li>

      <li>
        A qualquer momento poderá rever e
        atualizar os seus dados, através dos
        mecanismos disponíveis na própria
        App (Configurações). Poderá também
        contactar a Organização através do
        email info@cinco-estrelas.pt.
      </li>

      <li>
        Os seus dados pessoais são mantidos
        até se esgotar o fim a que se destinam,
        sendo eliminados 2 anos após a
        desinstalação da App pelo utilizador
      </li>
    </ol>

    <h2>IV. DISPOSIÇÕES FINAIS</h2>
    <ol>
      <li>
        Em matéria de interpretação das
        presentes condições de utilização é
        aplicável o direito Português.
      </li>
      <li>
        Se uma disposição das presentes
        condições de utilização for ou se tornar
        total ou parcialmente inválida, a
        validade das restantes disposições não
        é afetada por isso.
      </li>
    </ol>
  </ion-item>
</ion-content>