page-termscondition {
    .item-block .item-inner {
        border-bottom: 0px solid #c8c7cc !important;
    }
    .pageHeading h2{
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
    }
    .pageHeading p{
        font-size: 16px;
    }
    .pageContent p{
        white-space: normal;
        font-size: 16px;
        margin: 20px 0px;
    }

    .pageContent ol {
        white-space: normal;
        li {
            margin: 15px 0px;
        }
    }
}
