<ion-header>
    <ion-navbar>
        <ion-title>{{location.title || 'não fornecido'}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides pager="true" dir="{{dir}}" style="height:35%" *ngIf="location.images.length > 0">
        <ion-slide *ngFor="let image of location.images">
            <img src={{image}}>
        </ion-slide>
    </ion-slides>

    <h1>{{location.title || 'não fornecido'}}</h1>
    <p style="color: #8e9093">{{location.shortAddress || 'não fornecido'}}</p>
    <p *ngIf="location.availability"><span style="color: #ed8033">Aberto</span> → {{location.availability}}</p>
    <p style="display: flex">
        <ion-icon name="cash"></ion-icon>
    </p>
    <p style="margin: 15px 0px;">{{location.description || 'não fornecido'}}</p>

    <h1>Informação Útil</h1>
    <ion-list no-lines>
        <ion-item text-wrap>
            <h2>LIGAR</h2>
            <p>{{location.phone || 'não fornecido'}}</p>
        </ion-item>
        <ion-item text-wrap>
            <h2>MORADA</h2>
            <p>{{location.address || 'não fornecido'}}</p>
        </ion-item>
        <ion-item text-wrap>
            <h2>COORDENADAS</h2>
            <a href="https://www.google.com/maps/dir/?api=1&origin={{lat}},{{lng}}&destination={{location.location.coordinates[1]}},{{location.location.coordinates[0]}}"
                target="_blank">
                <p>{{location.location && location.location.coordinates[1] || 'não fornecido'}}, {{location.location &&
                    location.location.coordinates[0] || 'não fornecido'}}</p>
            </a>
        </ion-item>
        <ion-item text-wrap>
            <h2>ENVIAR EMAIL</h2>
            <a href="mailto: {{location.email}}">
                <p>{{location.email || 'não fornecido'}}</p>
            </a>
        </ion-item>
        <ion-item text-wrap>
            <h2>VER SITE</h2>
            <a href="{{location.website}}">
                <p>{{location.website || 'não fornecido'}}</p>
            </a>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>

                <ion-col col-2>
                    <ion-icon name="redo"></ion-icon>
                </ion-col>

                <ion-col col-2 (click)="addToFav()">
                    <ion-icon name="heart" [ngClass]="{'red': favs}"></ion-icon>
                </ion-col>

                <ion-col col-4>
                    <ion-grid style="line-height: 0px;">
                        <ion-row>
                            <ion-col>
                                <small>
                                    {{location.distance}} km
                                </small>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <small>
                                    {{ getTime(location.distance) }} minutos
                                </small>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>

                <ion-col col-2 (click)="gotoCommentPage()">
                    <ion-icon name="chatbubbles"></ion-icon>
                </ion-col>

                <ion-col col-2>
                    <a href="https://www.google.com/maps/dir/?api=1&origin={{lat}},{{lng}}&destination={{location.location.coordinates[1]}},{{location.location.coordinates[0]}}"
                        target="_blank">
                        <ion-icon name="compass"></ion-icon>
                    </a>
                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>