ion-footer {
    background: #252525;

    ion-col {
        text-align: center;
    }

    ion-icon {
        color: #ed8033;
        line-height: 30px;
        font-size: 30px;
    }
}

.red {
    color: red;
}