<!--
  Generated template for the FavouritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ 'myFavorites' | translate }}</ion-title>
  </ion-navbar>
  <div *ngIf="keys.length > 0" padding>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button
        *ngFor="let type of keys"
        class="segmentcls"
        value="{{ type }}"
        >{{ type }}</ion-segment-button
      >
    </ion-segment>
  </div>
</ion-header>

<ion-content class="favs">
  <div *ngIf="segment.length == 0">
    <ion-list *ngFor="let key of keys" inset>
      <ion-list-header>
        {{ key }}
      </ion-list-header>
      <!-- <ion-list-header>
                <ion-label>{{key}}</ion-label>
            </ion-list-header> -->
      <ion-item-sliding *ngFor="let location of favs[key]" #item>
        <ion-item (click)="goToLocationDetailPage(location)">
          <ion-icon
            *ngIf="!location.images[0]"
            item-start
            name="image"
            style="color: #ed8033"
          ></ion-icon>
          <ion-avatar item-start *ngIf="location.images[0]">
            <img src="{{ location.images[0] }}" />
          </ion-avatar>
          <h2>
            {{ location.title || "" }}
            <ion-icon
              *ngIf="location.hasOffers || false"
              style="color: red"
              name="medical"
            ></ion-icon>
          </h2>
          <h3>{{ location.type || "" }}</h3>
          <p>
            <span *ngIf="location.shortAddress"
              >{{ location.shortAddress || "" }} |
            </span>
          </p>
          <ion-icon item-end name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item-options side="right">
          <button
            color="danger"
            ion-button
            (click)="deleteItem(item, location._id, key)"
          >
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <div *ngIf="segment.length > 0">
    <div [ngSwitch]="segment">
      <span *ngFor="let key of keys">
        <ion-list *ngSwitchCase="key">
          <ion-list-header>
            {{ key }}
          </ion-list-header>
          <ion-item-sliding *ngFor="let location of favs[key]" #item>
            <ion-item (click)="goToLocationDetailPage(location)">
              <ion-icon
                *ngIf="!location.images[0]"
                item-start
                name="image"
                style="color: #ed8033"
              ></ion-icon>
              <ion-avatar item-start *ngIf="location.images[0]">
                <img src="{{ location.images[0] }}" />
              </ion-avatar>
              <h2>
                {{ location.title || "" }}
                <ion-icon
                  *ngIf="location.hasOffers || false"
                  style="color: red"
                  name="medical"
                ></ion-icon>
              </h2>
              <h3>{{ location.type || "" }}</h3>
              <p>
                <span *ngIf="location.shortAddress"
                  >{{ location.shortAddress || "" }} |
                </span>
              </p>
              <ion-icon item-end name="arrow-forward"></ion-icon>
            </ion-item>
            <ion-item-options side="right">
              <button
                color="danger"
                ion-button
                (click)="deleteItem(item, location._id, key)"
              >
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </span>
    </div>
  </div>

  <ion-item *ngIf="keys.length == 0" style="background: #f9efe6; height: calc( 100vh - 155px);">
      <img src="src/assets/imgs/Emoji_Neutral.svg" alt="no favourites" />
      <b>{{ 'noFavorites' | translate }}</b>
  </ion-item>
</ion-content>
