.favs {
    .scroll-content {
        margin-top: 115px !important;
    }
}
// .segment-button {
//     flex: auto !important;
//     width: 25% !important;
// }

// ion-segment {
//     flex-wrap: wrap !important;
// }

ion-segment {
    display: block !important;
    white-space: nowrap !important;
    font-size: 0 !important;
    overflow: auto !important;

    &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
        display: none !important;
    }

    ion-segment-button.segment-button {
        display: inline-block !important;
        min-width: 100px !important;
        width: auto !important;
        border-color: #e77103 !important;
        color: #e77103 !important;
    }
}
.segment-activated {
    background-color: #e77103 !important;
}
.segment-button:hover:not(.segment-activated) {
    background-color: #e771030d !important;
    color: #e77103 !important;
}