<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="display: inline-flex">
  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
  <!-- <p *ngIf=" anyChange "><button style="color:#e77103;background-color: white;font-size: 19px" (click)="saveProfile()">Sair</button></p> -->
</ion-header>
<ion-content padding>
  <ion-item *ngIf="imgsrc == ''" (click)="imgUpdate()">
    <ion-icon item-start class="menuicon" name="person"></ion-icon>
    <span>Perfil</span>
    <ion-icon item-end name="arrow-forward"></ion-icon>
  </ion-item>
  <ion-item *ngIf="imgsrc != ''" (click)="imgUpdate()">
    <img class="imgcls" [src]="imgsrc">
    <span>Perfil</span>
    <ion-icon item-end name="arrow-forward"></ion-icon>
  </ion-item>
  <!-- <form [formGroup]="profile" (ngSubmit)="updateProfile()">
    <div style="display: inline;">
      <ion-item>
        <ion-label stacked style="padding-left: 8px">NOME</ion-label>
        <div style="display: inline-flex;">
          <ion-input type="text" class="inputcss" [readonly]="namereadonly"></ion-input>
          <p *ngIf=" namereadonly " class="ionimgicon">
            <ion-icon (click)="nameEdit()" name="create"></ion-icon>
          </p>
          <p *ngIf=" !namereadonly " class="ionimgicon" (click)="nameEdit()">
            <ion-icon name="close"></ion-icon>
          </p>
        </div>
      </ion-item>
    </div>
    <div style="display: inline;">
      <ion-item>
        <ion-label stacked style="padding-left: 8px">EMAIL</ion-label>
        <div style="display: inline-flex;">
          <ion-input type="text" class="inputcss" [readonly]="emailreadonly"></ion-input>
          <p *ngIf=" emailreadonly " class="ionimgicon">
            <ion-icon (click)="emailEdit()" name="create"></ion-icon>
          </p>
          <p *ngIf=" !emailreadonly " class="ionimgicon" (click)="emailEdit()">
            <ion-icon name="close"></ion-icon>
          </p>
        </div>
      </ion-item>
    </div>
  </form> -->

  <form [formGroup]="profile" (ngSubmit)="updateProfile()">
      <ion-item class="custom-input">
        <ion-label class="title">NOME</ion-label>
        <ion-input type="text" formControlName="name" required item-content></ion-input>
        <ion-label class="error" *ngIf="profile.controls.name.dirty && profile.controls.name.invalid">X</ion-label>
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">EMAIL</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
        <ion-label class="error" *ngIf="profile.controls.email.dirty && profile.controls.email.invalid">X</ion-label>
      </ion-item>
      <ion-item>
        <button ion-button full type="submit" class="custom-button" [disabled]="!profile.valid">Submit</button>
      </ion-item>
    </form>
</ion-content>
