page-profile {
	.toolbar-title, .toolbar-title-md, .toolbar-title-ios{
		padding-left: 30%;
	}
	.menuicon{
		color: #e77103;
    	background-color: white;
    	margin: 0px!important;
    	margin-right:10px!important;
	}
	.imgcls{

	}
	.item-md.item-input.item-input-has-focus .item-inner,
	.item-md.item-input.input-has-focus .item-inner item-input .label-md, .item-select .label-md, .item-datetime .label-md, .item-input.input-has-focus .label-md[stacked]{
	    border-bottom-color: #000 !important;
	    -webkit-box-shadow: inset 0 0px 0 0 #000 !important;
	    box-shadow: inset 0 0px 0 0 #000 !important;
	    color:black;
	}

	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
	    border-bottom-color: #000 !important;
	    -webkit-box-shadow: inset 0 0px 0 0 #000 !important;
	    box-shadow: inset 0 0px 0 0 #000 !important;
	    color:black;
	}
	.item-input .label-md,.item-input .label-ios{
		color:black;
	}
	.inputcss{
	    margin-right: -55%;	    
	    border-bottom: 1px solid;
	}
	.ionimgicon{
    	padding-left: 66%;
	}
	.action-sheet-group{
			border-radius:7%
	}

	.custom-input{
        border: 2px solid #ee8033 !important;
        border-radius: 5px;
        padding: 0px 10px;
        margin: 20px 0px 20px 0px;
    }
    .custom-input .title{
        border-right: 2px solid #ee8033;
        margin: 0px;
        padding: 13.5px 10px 10px 0px;
        color: #ee8033;
        font-size: 12px;
        text-transform: uppercase;
        width: 75px;
    }
    .custom-input .error {
        position: absolute;
        right: 0;
        line-height: 65px;
        margin: 0;
        font-size: 19px;
        background: red;
        color: white;
        font-weight: bolder;
        border-radius: 2px;
        padding: 5px;
    }
    .custom-input input{
        height: 40px;
        width: 50%;
        border: none;
        padding-left: 10px;
        font-size: 16px;
    }

    .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #dedede !important;
    }
    .custom-button{
        height: 40px !important;
        background: #ee8033 !important;
        border-radius: 5px;
    }
    .custom-button-link{
        font-size: 14px !important;
        color: #23b795;
        text-transform: none;
        margin-top: 15px;
    }
    .toast-message {
        white-space: pre-line;
      }
}
