page-recoverypassword-otp {
    .toolbar-background-md {
        background: #ffffff !important;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #23b795 !important;
    }
    .main-content h3{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        padding: 20px;
    }
    .main-content p{
        white-space: normal;
        text-align: center;
        font-size: 16px;
    }
    .custom-input{
        border: 2px solid #23b795 !important;
        border-radius: 5px;
        padding: 0px 10px;
        margin: 20px 0px 5px 0px;
    }
    
    .custom-input input{
        height: 40px;
        width: 100%;
        border: none;
        padding-left: 10px;
        font-size: 16px;
    }

    .item-inner {
        border-bottom: 0px solid #dedede !important;
    }
    .custom-button{
        height: 40px !important;
        background: #ee8033 !important;
        border-radius: 5px;
    }
    .custom-button-link{
        font-size: 14px !important;
        color: #23b795;
        text-transform: none;
    }
    .otp-input-first{
        border: 2px solid #23b795;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .otp-input-sec{
        border-top: 2px solid #23b795;
        border-bottom: 2px solid #23b795;
        border-right: 2px solid #23b795;
    }
    .otp-input-third{
        border-top: 2px solid #23b795;
        border-bottom: 2px solid #23b795;
    }
    .otp-input-last{
        border: 2px solid #23b795;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .text-input{
        text-align: center;
        font-size: 18px;
    }
}
