<ion-header>
  <ion-navbar>
    <ion-title>Recover Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="main-content">
      <h3>Forgot Password?</h3>
      <p>
        Please enter the code that is in the email that we sent you to confirm
        that you want to reset the password.
      </p>
    </ion-item>
    <!-- <div class="custom-input"> -->
    <table style="width: 100%;">
      <tr>
        <td>
          <ion-input
            type="number"
            class="otp-input-first"
            #otp1
            minLength="1"
            maxlength="1"
            size="1"
            (keyup)="next(otp2)"
            [(ngModel)]="otpcode1"
          >
          </ion-input>
        </td>
        <td>
          <ion-input
            type="number"
            class="otp-input-sec"
            #otp2
            minLength="1"
            maxlength="1"
            size="1"
            (keyup)="next(otp3)"
            [(ngModel)]="otpcode2"
          >
          </ion-input>
        </td>
        <td>
          <ion-input
            type="number"
            class="otp-input-third"
            #otp3
            minLength="1"
            maxlength="1"
            size="1"
            (keyup)="next(otp4)"
            [(ngModel)]="otpcode3"
          >
          </ion-input>
        </td>
        <td>
          <ion-input
            type="number"
            class="otp-input-last"
            #otp4
            minLength="1"
            maxlength="1"
            size="1"
            [(ngModel)]="otpcode4"
            (keyup)="verifyOtp()"
          >
          </ion-input>
        </td>
      </tr>
    </table>

    <!-- </div> -->
    <button
      ion-button
      clear
      full
      class="custom-button-link"
      (click)="resendOtp()"
    >
      Did not receive the code? Submit new code
    </button>
  </ion-list>
</ion-content>
