<!--
  Created By: Mohd Sanaullah Ghayasi.
  Dated On: 25-10-2018
-->

<ion-content style="background: #e5f1ef;">
  <div class="pageImg">
    <img src="assets/imgs/Terms@4x .png"/>
    <p>{{ 'impliesAcceptTerms' | translate }}</p>
    <h3 (click)="viewDoc()">{{ 'viewTermsAndConditions' | translate }}</h3>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button full>
            {{ 'iDoNotAccept' | translate }}
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full (click)="loadWelcome()">
            {{ 'iAccept' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
