<ion-header>
  <ion-navbar>
    <ion-title>Create an account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list style="text-align:center">
    <!-- <ion-item class="main-content"> -->
    <h3>Create an account</h3>
    <!-- </ion-item> -->
    <form [formGroup]="registration" (ngSubmit)="userRegister()">
      <ion-item class="custom-input">
        <ion-label class="title">Name</ion-label>
        <ion-input
          type="text"
          formControlName="name"
          required
          item-content
        ></ion-input>
        <button
          *ngIf="!showPass"
          ion-button
          clear
          color="dark"
          type="button"
          item-right
          (click)="showPassword()"
        >
          <ion-icon name="ios-eye-off-outline"></ion-icon>
        </button>
        <button
          *ngIf="showPass"
          ion-button
          clear
          color="dark"
          type="button"
          item-right
          (click)="showPassword()"
        >
          <ion-icon name="ios-eye-outline"></ion-icon>
        </button>
        <ion-label
          class="error"
          *ngIf="
            registration.controls.name.dirty &&
            registration.controls.name.invalid
          "
          >X</ion-label
        >
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">Email</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
        <ion-label
          class="error"
          *ngIf="
            registration.controls.email.dirty &&
            registration.controls.email.invalid
          "
          >X</ion-label
        >
      </ion-item>
      <ion-item class="custom-input">
        <ion-label class="title">Password</ion-label>
        <ion-input
          type="{{ type }}"
          formControlName="password"
          required
          [(ngModel)]="password"
        ></ion-input>
        <ion-label
          class="error"
          *ngIf="
            registration.controls.password.dirty &&
            registration.controls.password.invalid
          "
          >X</ion-label
        >
      </ion-item>

      <ion-item>
        <button
          ion-button
          full
          type="submit"
          class="custom-button"
          [disabled]="!registration.valid"
        >
          CREATE AN ACCOUNT
        </button>
      </ion-item>
    </form>
    <button ion-button clear class="custom-button-link" (click)="backToLogin()">
      Already have an account? Start session
    </button>
  </ion-list>
</ion-content>
