page-registration {
  .toolbar-background-md {
    background: #ffffff !important;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: #23b795 !important;
  }
  .h3 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
  }
  .main-content p {
    white-space: normal;
    text-align: center;
    font-size: 16px;
  }
  .custom-input {
    border: 2px solid #ee8033 !important;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 20px 0px 20px 0px;
  }
  .custom-input .title {
    border-right: 2px solid #ee8033;
    margin: 0px;
    padding: 13.5px 10px 10px 0px;
    color: #ee8033;
    font-size: 12px;
    text-transform: uppercase;
    width: 75px;
  }
  .custom-input .error {
    position: absolute;
    right: 0;
    line-height: 65px;
    margin: 0;
    font-size: 19px;
    background: red;
    color: white;
    font-weight: bolder;
    border-radius: 2px;
    padding: 5px;
  }
  .custom-input input {
    height: 40px;
    width: 50%;
    border: none;
    padding-left: 10px;
    font-size: 16px;
  }

  .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede !important;
  }
  .custom-button {
    height: 40px !important;
    background: #ee8033 !important;
    border-radius: 5px;
  }
  .custom-button-link {
    font-size: 14px !important;
    color: #23b795;
    text-transform: none;
    margin-top: 0px;
  }
  .toast-message {
    white-space: pre-line;
  }
}
