<ion-header>
  <ion-navbar>
    <ion-title>Iniciar Sessão</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h6>Entre com a sua conta 5 Estrelas</h6>
  <form [formGroup]="credentialsForm">
    <ion-item class="itemCss spaceCss">
      <ion-label class="labelCls">EMAIL</ion-label>
      <ion-input
        [formControl]="credentialsForm.controls['email']"
        class="inputBorder"
        clearInput
      ></ion-input>
    </ion-item>
    <ion-item class="itemCss" style="padding-bottom: 5%">
      <ion-label class="labelCls">SENHA</ion-label>

      <ion-input
        type="{{ type }}"
        [formControl]="credentialsForm.controls['password']"
        [(ngModel)]="password"
        class="inputBorder"
      ></ion-input>
      <button
        *ngIf="!showPass"
        ion-button
        clear
        color="dark"
        type="button"
        item-right
        (click)="showPassword()"
      >
        <ion-icon name="ios-eye-off-outline"></ion-icon>
      </button>
      <button
        *ngIf="showPass"
        ion-button
        clear
        color="dark"
        type="button"
        item-right
        (click)="showPassword()"
      >
        <ion-icon name="ios-eye-outline"></ion-icon>
      </button>
    </ion-item>
  </form>
    <div style="display:inline-flex;padding-bottom: 30px;">
      <ion-toggle (ionChange)="changeSaveData()"></ion-toggle>
      <ion-label>Lembrar os meus dados</ion-label>
    </div>
    <button
      ion-button
      full
      class="custom-button"
      [disabled]="!credentialsForm.valid"
      (click)="login()"
    >
      INICIAR SESSÃO
    </button>
  
  <button ion-button clear full (click)="loadRecoveryPassword()">
    Esqueceu-se da senha?
  </button>
  <!-- <button ion-button clear full (click)="loadRecoveryPassword()">Password Recovery</button>
      <button ion-button clear full (click)="loadRegister()">Registration</button> -->
</ion-content>
