<ion-header>
  <ion-navbar>
    <ion-title>Notificações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let notification of notifications">
    <ion-item>{{ notification.message }}</ion-item>
  </ion-list>
</ion-content>
