<ion-header>
  <ion-navbar>
    <ion-title>Promoções</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let key of keys" inset>
    <ion-list-header>
      {{ key }}
    </ion-list-header>
    <ion-item-sliding *ngFor="let location of promotions[key]" #item>
      <ion-item (click)="goToLocationDetailPage(location.locationId)">
        <ion-icon
          *ngIf="!location.locationId.images[0]"
          item-start
          name="image"
          style="color: #ed8033"
        ></ion-icon>
        <ion-avatar item-start *ngIf="location.locationId.images[0]">
          <img src="{{ location.locationId.images[0] }}" />
        </ion-avatar>
        <h2>
          <span>
            {{ location.title || "" }}
          </span>
          <span style="float: right; opacity: 0.5;">
            {{ location.from | date }} - {{ location.to | date }}
          </span>
        </h2>
        <h3>{{ location.locationId.title || "" }}</h3>
        <p>
          <span *ngIf="location.description"
            >{{ location.description || "" }} |
          </span>
        </p>
        <ion-icon item-end name="arrow-forward"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button
          color="danger"
          ion-button
          (click)="deleteItem(item, location._id, key)"
        >
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="keys.length == 0" style="background: #f9efe6; height: calc( 100vh - 155px);">
    <img src="src/assets/imgs/Emoji_Sad.svg" alt="no promotions" />
    <b>{{ 'noPromotions' | translate }}</b>
  </ion-item>
</ion-content>
