page-categories {
	.category{
		background-color: #dd660c;
		text-align: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		border-radius: 50%;
		display: flex;
		padding: 20%;
		position: relative;
		justify-content: center;
		align-content: center;
	}
	.category img {
		height: 40px;
	}
	.colcss{
		background-color: white;
    	border-radius: 54%;
    	margin: 0px 5%;
	}
	.scroll-content {
	    background-color: #252525 !important;
	    padding:0px!important
	}
	.rowcss{
		padding-top:10px;
		padding-bottom:10px;
	}
	.textcss {
	    font-size: 11px;
	    padding-top: 0px!important;
	    text-align: center;
	    color: white;
	}
	.buttoncss{
		background-color: #dd660c;
		font-size:14px;
	}
	.menuicon{
		color: #e77103;
    	background-color: white;
    	font-size:3.2em;
    	margin-right:10px;
	}
	.iconbutton{
		background-color: white;
	}
	.toolbar-ios ion-title{
		padding:0px !important;
	}
	.alimentacao {
		background-color: red;
	}
	.apoio_familiar {
		background-color: #7a7c70;
	}
	.beleza {
		background-color: #da4383;
	}
	.casa {
		background-color: #c889cc;
	}
	.cultura_e_lazer {
		background-color: #5c710a;
	}
	.desporto {
		background-color: #ef9c9c;
	}
	.hotelaria {
		background-color: #f8c233;
	}
	.recursos_naturais {
		background-color: #addb32;
	}
	.saude {
		background-color: #68d9c6;
	}
	.servicos {
		background-color: #59c5d9;
	}
	.shopping {
		background-color: #845187;
	}
	.sítios_e_monumentos {
		background-color: #92241d;
	}
	.tecnologia {
		background-color: #2c80c6;
	}
	.transportes {
		background-color: #5b4534;
	}
}
