<!--
Generated template for the CategoriesPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header style="display: inline-flex;">
  <ion-navbar>
    <ion-title>{{ 'selectACategory' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid style="padding:16px;">
    <ion-row class="rowcss">
      <ion-col (click)="setMapCategory('Alimentação')" class="colcss">
        <div class="category" [ngClass]="{'alimentacao': includeCategory('Alimentação') }">
          <img src="assets/imgs/Categories_Food_and_Beverage.svg" />
        </div>
      </ion-col>
      <ion-col (click)="setMapCategory('Apoio Familiar')" class="colcss">
        <div class="category" [ngClass]="{'apoio_familiar': includeCategory('Apoio Familiar') }">
          <img src="assets/imgs/Categories_Family_Support.svg" />
        </div>
      </ion-col>
      <ion-col (click)="setMapCategory('Beleza')" class="colcss">
        <div class="category" [ngClass]="{'beleza': includeCategory('Beleza') }">
          <img src="assets/imgs/Categories_Beauty.svg" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="textcss">
        <span>{{ 'food' | translate }}</span>
      </ion-col>
      <ion-col class="textcss">
        <span>{{ 'familySupport' | translate }}</span>
      </ion-col>
      <ion-col class="textcss">
        <span>{{ 'beauty' | translate }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="rowcss">
      <ion-col (click)="setMapCategory('Casa')" class="colcss">
        <div class="category" [ngClass]="{'casa': includeCategory('Casa') }">
          <img src="assets/imgs/Categories_Home.svg" />
        </div>
      </ion-col>
      <ion-col (click)="setMapCategory('Cultura e Lazer')" class="colcss">
        <div class="category" [ngClass]="{'cultura_e_lazer': includeCategory('Cultura e Lazer') }">
          <img src="assets/imgs/Categories_Culture.svg" />
        </div>
      </ion-col>
      <ion-col (click)="setMapCategory('Desporto')" class="colcss">
        <div class="category" [ngClass]="{'desporto': includeCategory('Desporto') }">
          <img src="assets/imgs/Categories_Sports.svg" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="textcss"><span>{{ 'house' | translate }}
        </span></ion-col>
      <ion-col class="textcss"><span>{{ 'cultureAndLeisure' | translate }}
        </span></ion-col>
      <ion-col class="textcss"><span>{{ 'sport' | translate }}
        </span></ion-col>
    </ion-row>
    <ion-row class="rowcss">
      <ion-col (click)="setMapCategory('Hotelaria')" class="colcss">
        <div class="category" [ngClass]="{'hotelaria': includeCategory('Hotelaria') }">
          <img src="assets/imgs/Categories_Hotels.svg" />
        </div>
      </ion-col>
      <ion-col (click)="setMapCategory('Recursos Naturais')" class="colcss">
        <div class="category" [ngClass]="{'recursos_naturais': includeCategory('Recursos Naturais') }">
          <img src="assets/imgs/Categories_Natural_Resources.svg" />
        </div>
      </ion-col>
      <ion-col (click)="setMapCategory('Saúde')" class="colcss">
        <div class="category" [ngClass]="{'saude': includeCategory('Saúde') }">
          <img src="assets/imgs/Categories_Health.svg" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="textcss"><span>{{ 'hospitality' | translate }}
        </span></ion-col>
      <ion-col class="textcss"><span>{{ 'naturalResources' | translate }}
        </span></ion-col>
      <ion-col class="textcss"><span>{{ 'cheers' | translate }}
        </span></ion-col>
    </ion-row>
    <ion-row class="rowcss">
      <ion-col (click)="setMapCategory('Serviços')" class="colcss">
        <div class="category" [ngClass]="{'servicos': includeCategory('Serviços') }">
          <img src="assets/imgs/Categories_Services.svg" />
        </div>
      </ion-col>
      <ion-col (click)="setMapCategory('Shopping')" class="colcss">
        <div class="category" [ngClass]="{'shopping': includeCategory('Shopping') }">
          <img src="assets/imgs/Categories_Shopping.svg" />
        </div>
      </ion-col>
      <ion-col (click)="setMapCategory('Sítios e Monumentos')" class="colcss">
        <div class="category" [ngClass]="{'sítios_e_monumentos': includeCategory('Sítios e Monumentos') }">
          <img src="assets/imgs/Categories_Heritage.svg" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="textcss"><span>{{ 'services' | translate }}
        </span></ion-col>
      <ion-col class="textcss"><span>{{ 'mall' | translate }}
        </span></ion-col>
      <ion-col class="textcss"><span>{{ 'sitesAndMonuments' | translate }}
        </span></ion-col>
    </ion-row>
    <ion-row class="rowcss">
      <ion-col col-2></ion-col>
      <ion-col (click)="setMapCategory('Tecnologia')" class="colcss">
        <div class="category" [ngClass]="{'tecnologia': includeCategory('Tecnologia') }">
          <img src="assets/imgs/Categories_Technology.svg" />
        </div>
      </ion-col>
      <ion-col (click)="setMapCategory('Transportes')" class="colcss">
        <div class="category" [ngClass]="{'transportes': includeCategory('Transportes') }">
          <img src="assets/imgs/Categories_Transportation.svg" />
        </div>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="color:white;font-size: 11px;text-align: center;padding-left: 13%;"><span>{{ 'technology' | translate }}
        </span></ion-col>
      <ion-col style="color:white;font-size: 11px;text-align: center;padding-right: 16%;"><span>{{ 'transportation' | translate }}
        </span></ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button full large class="buttoncss" (click)="submit()">{{ 'close' | translate }}</button>
</ion-content>