.active {
  background: #653305;
  color: white !important;
}

#map_canvas {
  //   z-index: -1;
}

.color-background-map {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  box-shadow: 3px 3px 20px 20px #ffffffad;
  position: relative;
  z-index: 111;
}
.title-map {
  background: transparent;
  padding: 10px 23px;
  position: relative;
}

.list-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
}

.button-show {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

.location-list {
  position: absolute !important;
  left: 0;
  right: 0;
  z-index: 2;
}
