<ion-content>
    <ion-grid [ngClass]="{'color-background': showAsList, 'color-background-map': showAsMap}">
        <ion-row class="header-options">
            <ion-col (click)="getLat('north')" [ngClass]="{'active' : tab == 'north' }">Norte</ion-col>
            <ion-col (click)="getLat('south')" [ngClass]="{'active' : tab == 'south' }">Sul</ion-col>
            <ion-col (click)="getLat('center')" [ngClass]="{'active' : tab == 'center' }">Centro</ion-col>
            <ion-col (click)="getLat('island')" [ngClass]="{'active' : tab == 'island' }">Ilhas</ion-col>
            <ion-col class="right-border" (click)="openSearch()">
                <ion-icon name="search"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>



    <div class="location-list">

        <div [ngClass]="{'title': showAsList, 'title-map': showAsMap}">
            <ion-fab right bottom edge>
                <button *ngIf="showAsList" (click)="switchToMap()" ion-fab mini style="background: #fff; border: solid 1px #000000a3;">
                    <ion-icon name="map" style="color: #ed8033"></ion-icon>
                </button>
                <button *ngIf="showAsMap" (click)="switchToList()" ion-fab mini style="background: #fff; border: solid 1px #000000a3;">
                    <ion-icon name="list" style="color: #ed8033"></ion-icon>
                </button>
            </ion-fab>
        </div>

        


        <ion-item *ngIf="showAsList && locations.length == 0">
            <div>nenhum resultado encontrado perto de você</div>
        </ion-item>

        <div *ngIf="showAsMap" style="width:100%;height: 100vh" #map id="map_canvas"></div>

        <ion-item *ngIf="showAsList && locations.length > 0">
            
            <ion-list *ngFor="let key of keys" inset>
                <ion-list-header>
                    {{key}}
                </ion-list-header>

                <ion-item *ngFor="let location of companies[key]" (click)="goToLocationDetailPage(location)">
                    <ion-icon *ngIf="!location.images[0]" item-start name="image" style="color: #ed8033"></ion-icon>
                    <ion-avatar item-start *ngIf="location.images[0]">
                        <img src={{location.images[0]}} />
                    </ion-avatar>
                    <h2>
                        {{location.title || ''}}
                        <ion-icon *ngIf="location.hasOffers || false" style="color: red" name="medical"></ion-icon>
                    </h2>
                    <h3>{{location.type || ''}}</h3>
                    <p>
                        <span *ngIf="location.shortAddress">{{location.shortAddress || ''}} | </span>
                        <span *ngIf="location.location && location.location.coordinates && location.location.coordinates.length > 0">
                            {{getDistance(location.location.coordinates, location)}} km
                        </span>
                    </p>
                    <ion-icon item-end name="arrow-forward"></ion-icon>


                </ion-item>
            </ion-list>
        </ion-item>

    </div>
</ion-content>