<ion-header>
  <ion-navbar>
    <ion-title>Recover Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="main-content">
      <h3>Forgot your password?</h3>
      <p>Please enter your email and stay tuned to your mailbox.</p>
    </ion-item>
    <div class="custom-input">
      <ion-label>Email</ion-label>
      <input type="email" />
    </div>
    <ion-item>
      <button ion-button full class="custom-button" (click)="submitEmail()">
        SUBMIT
      </button>
      <button
        ion-button
        clear
        full
        class="custom-button-link"
        (click)="returnToHome()"
      >
        Return to Login
      </button>
    </ion-item>
  </ion-list>
</ion-content>
