// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Custom Loader
.custom-loader {
  background: rgba(35, 183, 149, 0.34);
  .loading-wrapper {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

// Custom Alert Box
.custom-alertBox {
  background: rgba(0, 0, 0, 0.34);
  .alert-wrapper {
    background-color: #eeeeee;
  }
  .alert-button-group {
    background: #e18433;
  }
  .alert-button {
    color: white;
  }
  .no-style {
    background: #eee;
    text-decoration: underline;
    color: black;
    border: none;
  }
  .cancel {
    background: #c0c6c5;
  }
}

.toolbar-ios ion-title,
.toolbar-md ion-title {
  padding: 0px !important;
  background-color: white;
}
.bar-button-default-ios,
.bar-button-default-md {
  background-color: white;
}

//customizing alert for android
.alert-md .alert-wrapper {
  border-radius: 13px !important;
  overflow: hidden;
  max-width: 270px;
}
.alert-md .alert-title {
  margin-top: 8px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  text-align: center;
}
.alert-md .alert-sub-title {
  font-size: 14px !important;
  color: #666;
  text-align: center;
}
.alert-md .alert-button-group {
  padding: 0px 0px 0px 0px !important;
}
.alert-md .alert-button {
  text-align: center !important;
  margin: 0 5px 0 0px;
  padding: 5px !important;
  width: 46%;
  .back-button-icon-md {
    color: #e77103;
  }
  .back-button-icon-ios,
  .back-button-text-ios {
    color: #e77103;
  }
  .toolbar-background {
    background-color: white;
  }
  .EditionIcon {
    color: red;
  }
  .action-sheet-group {
    .EditionIcon {
      color: red;
      border-bottom: 1px solid grey;
    }
    .Escolhercss {
      color: #e77103;
      border-bottom: 1px solid grey;
    }
    .Tirarcss {
      color: #e77103;
      border-bottom: 6px solid #cacaca;
      border-radius: 4px;
    }
    .cancelCss {
      font-weight: bold;
      color: #e77103;
      border-top: 1px solid #cacaca;
      border-radius: 5px;
    }
  }
  .action-sheet-group {
    margin-bottom: 25px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .loading-md .loading-wrapper {
    border-radius: 2px;
    max-width: 280px;
    max-height: 90%;
    /* color: rgba(0, 0, 0, 0.5); */
    /* background: #fafafa; */
    /* -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4); */
    /* box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4); */
    padding: 0px !important;
    background: transparent;
  }

  .toggle-checked .toggle-icon {
    background-color: #1abc9c !important;
  }
  .toggle-md.toggle-checked .toggle-inner {
    background-color: white !important;
  }
}

.tabs-ios .tab-button[aria-selected="true"] .tab-button-icon,
.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected="true"] {
  color: #e77103 !important;
}

.tabs-ios .tabbar {
  background: #252525 !important;
  padding-bottom: 5px;
}

.infowindow {
    display: flex;
    height: inherit;
    position: absolute;
    top: 0;
    width: inherit;
    margin: 0;
    left: 0;
    width: 100%;
}

.infowindow .infowindowIcon {
  height: 71px;
}

.infowindow .infowindowContent {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.infowindow .infowindowTitle {
  margin: 0;
  font-weight: bold;
  align-content: flex-start;
  padding: 7px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.infowindow .infowindowRow {
  margin: 0;
  align-content: flex-end;
  display: flex;
  padding-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.infowindow .infowindowicons {
  display: flex;
  flex-direction: column;
}

#close {
  cursor: pointer;
}
.pgm-html-info-content-frame {
  display: block;
  position: relative;
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  left: 0px;
  right: 0px;
  z-index: 1;
  overflow: hidden;
  width: 215px !important;
  height: 60px;
  border-radius: 11px !important;
}
