<ion-header>
  <ion-navbar>
    <ion-title>Recover Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="main-content">
      <h3>Update your password</h3>
      <p>
        To reset the password to the account of maria.marques@gmail.com, type
        the new password below.
      </p>
    </ion-item>
    <div class="custom-input">
      <ion-label>new password</ion-label>
      <input type="email" />
    </div>
    <div class="custom-input">
      <ion-label>repeat password</ion-label>
      <input type="email" />
    </div>
    <ion-item>
      <button ion-button full class="custom-button" (click)="updatePassword()">
        UPDATE PASSWORD
      </button>
    </ion-item>
  </ion-list>
</ion-content>
