<ion-header style="display: inline-flex;">

    <ion-navbar>
        <ion-title>
            {{ 'submitReview' | translate }}
            <button style="color:#e77103;background-color: white;font-size: 19px;
            float: right;" (click)="submitComment()">{{ 'submit' | translate }}</button>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #f7efe7">
    <p style="text-align: center;background-color: #f7efe7">{{ 'shareYourOpinion' | translate }}</p>
    <ion-textarea type="text" style="border: 1px solid #e77103;height: 42%;background-color: #ffffff;position: fixed; width: 96%;"
        [(ngModel)]="comment"></ion-textarea>

</ion-content>