<ion-header>

  <ion-navbar>
    <ion-title>Manage users</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="searchUser" (ngSubmit)="search()">
    <ion-item>
      <ion-input type="text" formControlName="email" required item-content placeholder="search email"></ion-input>
      <button type="submit" item-end>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-item>
  </form>
  <ion-list>
    <ion-item  *ngFor="let user of users" (click)="viewUser(user)">
      <ion-avatar item-start>
        <img src="{{ user.picture || 'assets/imgs/Menu_Profile.svg' }}" />
      </ion-avatar>
      <h2>{{user.email}}</h2>
      <p>{{user.name}}</p>
      <ion-icon item-end name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>