<ion-content style="background: #f7efe7;">
  <div class="pageImg">
    <img src="assets/imgs/onboarding_1.svg" />
    <h3>Bem vinda Ana!</h3>
    <p>A sua conta foi criada com sucesso, vamos agora configurá-la.</p>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="loadWelcome()">
          VAMOS COMEÇAR
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
