<!--
  Generated template for the ConfirmdeletePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ 'confirmDelete' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #f7efe7;">
  <div>
    <img class="imgalign" src="assets/imgs/Emoji_Surprised.svg" />
  </div>
  <h5
    style="text-align: center;display: block;margin: 15px 86px;font-size: 1.5rem;"
  >
    {{ 'youAreAboutToDeleteYourAccount' | translate }}
  </h5>
  <p style="text-align: center;display: block;margin: 15px 38px;color:grey">
    {{ 'allDataWillBeDeleted' | translate }}
  </p>
  <button
    ion-button
    style="background-color: #ff0055;font-size: 14px;display: block;margin: 0 auto;padding-left: 10%;padding-right: 10%;"
  >
    {{ 'cancelAccount' | translate }}
  </button>
  <p style="color:#e77103;display: block;margin: 20px 20px;text-align: center;">
    {{ 'goBackToDefinition' | translate }}
  </p>
</ion-content>
