page-mapsex {
	ion-header {
	  * {
		background: #fff;
	  }
	}
  
	.toolbar-background {
	  background: #fff;
	}
	.menuicon {
	  color: #e77103;
	  background-color: white;
	  font-size: 3.2em;
	  margin-right: 10px;
	}
  
	.header-options {
	  border: solid 2px #f19e53;
	  border-right: none;
	  border-radius: 4px;
  
	  ion-col {
		border-right: solid 2px;
		color: #ee8033;
		font-weight: bold;
		text-align: center;
		cursor: pointer;
	  }
	  ion-col:hover {
		background: #653305;
		color: white;
	  }
	}
  
	.color-background {
	  background: #fff4ea;
	  padding: 20px;
	}
  
	.location-list {
	  position: relative;
	}
	.title {
	  padding: 10px 23px;
	  position: relative;
	}
  }
  