<!--
  Generated template for the MapsexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Mapa 5 Estrelas {{activePagesProvider.getCurrentPage()}}</ion-title>
    <ion-buttons right (click)="gotoSettings()">
      <button ion-button icon-only>
        <ion-icon class="menuicon" name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-fab
      *ngIf="showFilters && !activePagesProvider.getCurrentPage().includes('detailsPage') && !activePagesProvider.getCurrentPage().includes('search') "
      mini right bottom style="bottom: 125px;"
    >
        <button
          ion-fab mini
          (click)="gotoMyLocation()"
          style="background: white; color: black; border: solid 1px; border-radius: 50%;"
        >
          <ion-icon name="locate"></ion-icon>
        </button>
    </ion-fab>

    <ion-fab *ngIf="showFilters && !activePagesProvider.getCurrentPage().includes('detailsPage') " right bottom style="bottom: 65px;">
      <button ion-fab style="background: #ed8033" (click)="gotoCategories()">
        <ion-icon name="apps"></ion-icon>
      </button>
      <!-- <ion-fab-list side="top" class="list-active">
        <button ion-fab (click)="getLat('loc')" class="button-show">
          <ion-icon name="locate"></ion-icon>
        </button>
      </ion-fab-list> -->
    </ion-fab>
  </div>
  <ion-tabs #tabs>
    <ion-tab tabIcon="home" tabTitle="Home" [root]="home" (ionSelect)="setSelectedTab('home')"></ion-tab>
    <ion-tab tabIcon="heart" tabTitle="Favoritos" [root]="favourites" (ionSelect)="setSelectedTab('favourites')"></ion-tab>
    <ion-tab tabIcon="basket" tabTitle="Promoções" [root]="promotions" (ionSelect)="setSelectedTab('promotions')"></ion-tab>
    <ion-tab tabIcon="notifications" tabTitle="Notificações" [root]="notifications" (ionSelect)="setSelectedTab('notifications')"></ion-tab>
  </ion-tabs>
</ion-content>