<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="display: inline-flex;">

  <ion-navbar>
    <ion-title>{{ 'cancelAccount' | translate }}</ion-title>
    <button style="color:#e77103;background-color: white;font-size: 19px;
    padding-left: 68%;" (click)="goToDeleteAccount()">{{ 'feedback' | translate }}</button>

  </ion-navbar>
  </ion-header>


<ion-content padding style="background-color: #f7efe7">
	<p style="text-align: center;background-color: #f7efe7">{{ 'someAdditionalMessage' | translate }}</p>
	<ion-textarea type="text" style="border: 1px solid #e77103;height: 42%;background-color: #ffffff;position: fixed" [(ngModel)]="comment"></ion-textarea>

</ion-content>
