<!--
  Generated template for the LeavecommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="display: inline-flex;">
  <ion-navbar>
    <ion-title>Enviar Comentário</ion-title>
  </ion-navbar>
  <button
    style="color:#e77103;background-color: white;font-size: 19px;
    padding-left: 68%;"
    [disabled]="emptyText"
    (click)="sendComment()"
  >
    Seguinte
  </button>
</ion-header>

<ion-content padding style="background-color: #f7efe7">
  <p style="text-align: center;background-color: #f7efe7">
    A sua mensagem será analisada com a devida atenção. Obrigado..
  </p>
  <ion-textarea
    type="text"
    style="border: 1px solid #e77103;height: 42%;background-color: #ffffff;position: fixed"
    (ionChange)="checkChange()"
    [(ngModel)]="comment"
  ></ion-textarea>
</ion-content>
