page-leavecomment {
	.text-input-ios {
	    margin: 11px 8px 11px 0px;
	    padding: 0;
	    width: calc(100% - 8px);
	    height: 100%;
	}
	ion-textarea {
    	position: fixed;
	    display: block;
	    -webkit-box-flex: 1;
	    -webkit-flex: 1;
	    -ms-flex: 1;
	    flex: 1;
	    width: 91%;
	}
}
