<!--
  Created By: Pradeepa.
  Dated On: 17-02-2018.
-->
<ion-content no-bounce style="background-color: #fafafa;">
  <ion-slides pager="true" dir="{{ dir }}" style="height:65%">
    <ion-slide>
      <img src="assets/imgs/intro_1_1.svg" />
      <h5>{{ "PortugalCincoEstrelas" | translate }}</h5>
      <p>
        Aqui tem acesso à informação sobre o que de melhor existe em Portugal.
      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/intro_2_2.svg" />
      <h5>Sempre atualizado</h5>
      <p>
        Fique a par de todas as informações sobre os vencedores do Portugal
        Cinco Estrelas.
      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/intro_3_3.svg" />
      <h5>Com as melhores condições</h5>
      <p>
        Beneficie de condições especiais junto dos vencedores do Portugal Cinco
        Estrelas.
      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/intro_4_4.svg" />
      <h5>Guarde e partilhe</h5>
      <p>
        Guarde as suas preferências para ver mais tarde, ou partilhe com a
        família e amigos.
      </p>
    </ion-slide>
  </ion-slides>

  <div class="custom-fb-button" (click)="loginWithFb()">
    <!-- <img src="assets/imgs/facebook-large.png"> -->
    <span>Continue with Facebook</span>
  </div>
  <div class="custom-gmail-button" (click)="googleLogin()">
    <!-- <img src="assets/imgs/google-large.png"> -->
    <span>Continue with Google</span>
  </div>
  <div class="custom-mail-button" (click)="loginWithEmail()">
    <span>Sign In to Email</span>
  </div>
  <div class="custom-touchID-button" (click)="loginTouchID()">
    <span>Sign In with Touch ID</span>
  </div>
  <button
    full
    clear
    ion-button
    class="custom-account"
    (click)="createAccount()"
  >
    Create a new account
  </button>

  <!-- <div style="display: inline-flex;height:15%">
		 <img src="assets/imgs/facebook-large.png">
	</div>
	<div style="display: inline-flex;height: 8%;padding-left: 6%;padding-right: 6%;">
		 <img src="assets/imgs/google-large.png">
	</div> -->
</ion-content>
