page-slides {
  p {
    text-align: center;
    padding-left: 29px;
    padding-right: 29px;
    font-size: 16px;
  }
  // .slide-zoom {
  //     padding-bottom: 50px;
  // }
  .custom-fb-button {
    position: relative;
    padding: 15px;
    background: #456ab1;
    height: 45px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: white;
    border: 2px solid #365289;
    border-radius: 5px;
    line-height: 1;
  }
  .custom-gmail-button {
    position: relative;
    padding: 15px;
    background: #f1f1f1;
    height: 45px;
    margin: 15px;
    text-align: center;
    color: #768581;
    border: 2px solid #cecece;
    border-radius: 5px;
    line-height: 1;
  }
  .custom-mail-button {
    position: relative;
    padding: 15px;
    background: #e77103;
    height: 45px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: white;
    border: 2px solid #c65e03;
    border-radius: 5px;
    line-height: 1;
  }
  .custom-touchID-button {
    position: relative;
    padding: 15px;
    background: #f1f1f1;
    height: 45px;
    margin: 15px;
    text-align: center;
    color: #768581;
    border: 2px solid #cecece;
    border-radius: 5px;
    line-height: 1;
  }
  .custom-account {
    color: #e77103 !important;
    text-transform: initial;
  }

  .swiper-pagination-bullet-active {
    background: #e77002 !important;
  }
  .swiper-pagination-bullet {
    background: #ef7f0f !important;
  }
}
