page-menu {
	.back-button-icon-md{
		color:#e77103
	}
	.back-button-icon-ios, .back-button-text-ios{
		color:#e77103
	}
	.toolbar-background{
		background-color:white;
	}
	.toolbar-title, .toolbar-title-md, .toolbar-title-ios{
		text-align:center;
	}
	.menutitle{
		background-color: #f7efe7;
	    padding: 10px;
	    color: #888181;
	    letter-spacing: 1px;
	    padding-top: 22px;
	    padding-bottom: 6px;
	    font-weight: bold;
	}
	.scroll-content {
	    padding: 10px!important;
	}
	.menulist{
		display:inline-flex;
		background-color:white;
	}
	.menuicon{
		color: #e77103;
    	background-color: white;
    	margin: 0px!important;
    	margin-right:10px!important;
    	height:40px!important;
	}
	.toolbar-ios ion-title {
	    left: 0;
	    top: 0;
	    padding: 0 48px 1px;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    -webkit-transform: translateZ(0);
	    transform: translateZ(0);
	    pointer-events: none;
	}
	ion-label{
		font-size:16px;
	}
}
