<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="display: inline-flex">

	<ion-navbar>
		<ion-title>{{ 'menu' | translate }}</ion-title>
	</ion-navbar>
	<button style="color:#e77103;background-color: white;font-size: 19px" (click)="logout()">Sair</button>

</ion-header>


<ion-content padding>
	<div class="menutitle">PREFERÊNCIAS</div>
	<ion-item class="menulist" (click)="goToProfile()">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Profile.svg">
		</ion-icon>
		<!--  <img class="menuicon" src="assets/imgs/Menu_Profile.svg"> -->
		<span>Perfil</span>
		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>
	<!-- <ion-item class="menulist" (click)="goToFavourites()">
  		<ion-icon item-start class="menuicon" >
        <img class="menuicon" src="assets/imgs/Menu_Favorites.svg">  
      </ion-icon>
  		<span>Favoritos</span>
  		 <ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item> -->
	<ion-item class="menulist" (click)="goToLanguage()">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Language.svg">
		</ion-icon>
		<span>Idioma</span><span *ngIf=" language == 'en'" style="color:#888181;padding-left:40%">English</span>
		<span *ngIf=" language == 'pt'" style="color:#888181;padding-left:40%">Português</span>
		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>
	<div class="menutitle">SEGURANÇA</div>
	<ion-item class="menulist" (click)="changePassword()">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Password.svg">
		</ion-icon>
		<span>Alterar Senha</span>
		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>
	<!-- <ion-item class="menulist">
  		<ion-icon item-start class="menuicon">
        <img class="menuicon" src="assets/imgs/Menu_Touch.svg">  
      </ion-icon>
      <ion-label>Touch ID</ion-label>
  		<ion-toggle item-end [ngModel]="touchIdEnable" (ngModelChange)="updateSetting('touchIdEnable')" checked="touchIdEnable">Touch ID</ion-toggle><!-- 

  		 <ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item> -->
	<div class="menutitle">PRIVACIDADE</div>
	<ion-item class="menulist">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Location.svg">
		</ion-icon>
		<ion-label>Ativar Localização</ion-label>
		<ion-toggle item-end [ngModel]="locationEnabled" (ngModelChange)="updateSetting('locationEnabled')" checked="locationEnabled"></ion-toggle>
	</ion-item>
	<ion-item class="menulist">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Notifications.svg">
		</ion-icon>
		<ion-label>Ativar Notificações</ion-label>
		<ion-toggle item-end [ngModel]="notificationsEnabled" (ngModelChange)="updateSetting('notificationsEnabled')" checked="notificationsEnabled"></ion-toggle>
	</ion-item>
	<ion-item class="menulist" (click)="goToCancel()">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Cancel_Account.svg">
		</ion-icon>
		<span>Cancelar Conta</span>
		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>
	<div class="menutitle">APP</div>
	<ion-item class="menulist">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_About.svg">
		</ion-icon>
		<ion-label>Sobre Portugal 5 Estreals</ion-label>

		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>
	<ion-item class="menulist" (click)="goToComment()">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Feedback.svg">
		</ion-icon>
		<span>Enviar Comentário</span>
		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>
	<ion-item class="menulist" (click)="shareApp()">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Share.svg">
		</ion-icon>
		<span>Partilhar Aplicação</span>
		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>
	<ion-item class="menulist">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Rate.svg">
		</ion-icon>
		<span>Avaliar na App Store</span>
		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>
	<ion-item class="menulist">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Terms.svg">
		</ion-icon>
		<span>Termos e Condições</span>
		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>

	<div class="menutitle" *ngIf="role=='admin'">Admin</div>
	<ion-item class="menulist" (click)="openAddLocationsPage()">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Location.svg">
		</ion-icon>
		<span>adicionar locais</span>
		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>

	<ion-item class="menulist" (click)="goToManageUserPage()">
		<ion-icon item-start class="menuicon">
			<img class="menuicon" src="assets/imgs/Menu_Profile.svg">
		</ion-icon>
		<span>atualizar usuários</span>
		<ion-icon item-end name="arrow-forward"></ion-icon>
	</ion-item>

	<!--  <ion-item class="menulist">
      <ion-icon item-start class="menuicon">
        <img class="menuicon" src="assets/imgs/Menu_Profile.svg">  
      </ion-icon>
      <span>excluir usuários</span>
      <ion-icon item-end name="arrow-forward"></ion-icon>
  </ion-item> -->

</ion-content>